# Add any directories, files, or patterns you don't want to be tracked by version control

# folder
RL/
draw/
test/
utils/
old_data/
data/
dataset/
algo/
record/
algo/drl/
algo/drl_vn/
algo/drl_vnf/
algo/drl_vnf_gat/
algo/drl_with_vn copy/
__pycache__/
.idea/
.vscode/
Experimental Note.md
.gitignore
test.py
config.py

# 
*.pdf
*.pyc
*.npy
*.txt
*.out
*.err
*.mat
*.jpg
*.aux
*.log
*.blb
*.gz
*.xls
*.synctex
*.synctex.gz
*.synctex.gz(busy)