# Add any directories, files, or patterns you don't want to be tracked by version control

# folder
RL/
test/
record/
record old/
generator_old/
algo/drl/
algo/drl_vn/
algo/drl_with_vn copy/
__pycache__/
.idea/
.vscode/
Experimental Note.md
test.py

# 
*.pdf
*.pyc
*.npy
*.txt
*.out
*.err
*.mat
*.jpg
*.aux
*.log
*.blb
*.gz
*.xls
*.synctex
*.synctex.gz
*.synctex.gz(busy)